@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}


/**
For the ADD/Update button
*/
.update-link {
    margin-bottom: 1rem;
    /* text-align: center; */
    color: #007BFF;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.update-link:hover {
    text-decoration: underline;
}

/**
For table styling
*/

.table-wrapper {
    width: 60%;
    margin: 0 auto;            
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}


th {
    background-color: #ffcccc;
    color: #333;
    font-weight: bold;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label,
input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="number"] {
    padding: .25rem;
}


button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

select {
    width: 30%;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    margin-bottom: 1.2rem;
    outline: none;
    transition: border-color 0.2s ease;
}

select:focus {
    border-color: #007BFF;
}

option {
    padding: 0.6rem;
}

select:hover {
    border-color: #999;
}

.warning {
    color: red;
}